openapi: 3.0.3
info:
  title: MeshCrypt API
  description: Privacy-preserving wallet and bridge API with ZK-SNARKs
  version: 1.0.0
  contact:
    name: MeshCrypt Team
    email: support@meshcrypt.io
    url: https://meshcrypt.io
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.meshcrypt.io/v1
    description: Production server
  - url: https://api-staging.meshcrypt.io/v1
    description: Staging server
  - url: http://localhost:8080/api/v1
    description: Local development

tags:
  - name: Wallet
    description: Wallet management operations
  - name: Transactions
    description: Transaction creation and querying
  - name: Privacy
    description: Privacy-preserving operations
  - name: Bridge
    description: Cross-chain bridge operations
  - name: Status
    description: System status and health

paths:
  /health:
    get:
      summary: Health check
      tags: [Status]
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: healthy
                  time:
                    type: string
                    format: date-time

  /status:
    get:
      summary: Get system status
      tags: [Status]
      responses:
        '200':
          description: System status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemStatus'

  /wallet:
    post:
      summary: Create new wallet
      tags: [Wallet]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [password]
              properties:
                mnemonic:
                  type: string
                  description: BIP39 mnemonic (generated if not provided)
                password:
                  type: string
                  format: password
      responses:
        '201':
          description: Wallet created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletResponse'
        '400':
          $ref: '#/components/responses/BadRequest'

  /wallet/{walletId}:
    get:
      summary: Get wallet information
      tags: [Wallet]
      parameters:
        - name: walletId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Wallet information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletInfo'
        '404':
          $ref: '#/components/responses/NotFound'

  /wallet/{walletId}/stealth-address:
    post:
      summary: Generate stealth address
      tags: [Wallet, Privacy]
      parameters:
        - name: walletId
          in: path
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Stealth address generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StealthAddress'

  /transactions:
    post:
      summary: Create transaction
      tags: [Transactions]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionRequest'
      responses:
        '202':
          description: Transaction accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'

  /transactions/{txHash}:
    get:
      summary: Get transaction
      tags: [Transactions]
      parameters:
        - name: txHash
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Transaction details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
        '404':
          $ref: '#/components/responses/NotFound'

  /privacy/commitment:
    post:
      summary: Create Pedersen commitment
      tags: [Privacy]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [value, blinding]
              properties:
                value:
                  type: integer
                  format: int64
                blinding:
                  type: string
                  format: byte
      responses:
        '201':
          description: Commitment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Commitment'

  /privacy/range-proof:
    post:
      summary: Create range proof
      tags: [Privacy]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [commitment, value, blinding]
              properties:
                commitment:
                  type: string
                  format: byte
                value:
                  type: integer
                  format: int64
                blinding:
                  type: string
                  format: byte
      responses:
        '201':
          description: Range proof created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RangeProof'

  /privacy/zk-proof:
    post:
      summary: Generate ZK-SNARK proof
      tags: [Privacy]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [circuit_type, public_inputs, private_inputs]
              properties:
                circuit_type:
                  type: string
                  enum: [confidential_transfer, stealth_address, range_proof, merkle_membership]
                public_inputs:
                  type: string
                  format: byte
                private_inputs:
                  type: string
                  format: byte
      responses:
        '201':
          description: ZK proof generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZkProof'

  /bridge/deposit:
    post:
      summary: Deposit to bridge
      tags: [Bridge]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BridgeDeposit'
      responses:
        '202':
          description: Deposit accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BridgeResponse'

  /bridge/events:
    get:
      summary: Get bridge events
      tags: [Bridge]
      parameters:
        - name: chain_id
          in: query
          schema:
            type: integer
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
      responses:
        '200':
          description: Bridge events
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    items:
                      $ref: '#/components/schemas/BridgeEvent'
                  count:
                    type: integer

components:
  schemas:
    WalletResponse:
      type: object
      properties:
        wallet_id:
          type: string
        address:
          type: string
        public_key:
          type: string

    WalletInfo:
      type: object
      properties:
        address:
          type: string
        balance:
          type: integer
          format: int64
        account_count:
          type: integer
        public_key:
          type: string

    StealthAddress:
      type: object
      properties:
        address:
          type: string
        scan_key:
          type: string
          format: byte
        spend_key:
          type: string
          format: byte

    TransactionRequest:
      type: object
      required: [wallet_id, to, amount]
      properties:
        wallet_id:
          type: string
        to:
          type: string
        amount:
          type: integer
          format: int64
        privacy_enabled:
          type: boolean
          default: true

    TransactionResponse:
      type: object
      properties:
        tx_hash:
          type: string
        status:
          type: string
          enum: [pending, confirmed, failed]

    Transaction:
      type: object
      properties:
        tx_hash:
          type: string
        from:
          type: string
        to:
          type: string
        amount:
          type: integer
          format: int64
        status:
          type: string
        timestamp:
          type: string
          format: date-time
        privacy:
          $ref: '#/components/schemas/PrivacyData'

    PrivacyData:
      type: object
      properties:
        commitment:
          type: string
          format: byte
        range_proof:
          type: string
          format: byte
        stealth_address:
          type: string
        nullifier:
          type: string
          format: byte

    Commitment:
      type: object
      properties:
        commitment:
          type: string
          format: byte
        blinding_factor:
          type: string
          format: byte

    RangeProof:
      type: object
      properties:
        proof:
          type: string
          format: byte
        min_value:
          type: integer
          format: int64
        max_value:
          type: integer
          format: int64

    ZkProof:
      type: object
      properties:
        proof:
          type: string
          format: byte
        public_inputs:
          type: string
          format: byte
        proof_type:
          type: string

    BridgeDeposit:
      type: object
      required: [destination_chain, amount, commitment]
      properties:
        destination_chain:
          type: integer
        amount:
          type: integer
          format: int64
        commitment:
          type: string
          format: byte
        range_proof:
          type: string
          format: byte
        zk_proof:
          type: string
          format: byte

    BridgeResponse:
      type: object
      properties:
        deposit_id:
          type: string
        status:
          type: string
        tx_hash:
          type: string

    BridgeEvent:
      type: object
      properties:
        event_id:
          type: string
        chain_id:
          type: integer
        event_type:
          type: string
          enum: [deposit, withdraw]
        tx_hash:
          type: string
        timestamp:
          type: string
          format: date-time

    SystemStatus:
      type: object
      properties:
        watcher:
          type: object
        relayer:
          type: object
        ws_clients:
          type: integer
        uptime:
          type: integer

    Error:
      type: object
      properties:
        error:
          type: string
        code:
          type: string
        details:
          type: string

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key

security:
  - ApiKey: []
